body {
    background-color: rgb(241, 241, 193);
}

#adminLink {
float: right;
}

#myBlogh1 {
    padding-left: 10px;
}

#blogPost-list {
    list-style: none;
}

/* Styling till post-sidan /Jenny */
#head-container-post {
    width: 80%;
    margin-left: 20px;
}