body {
    background-color: lightblue;
}

#main-container {
    width: 100%;
    height: 100vh;
}

#content {
    margin: 50px auto;
    width:80%;
    max-width: 800px;
}

.blog-page-link,
 #create-post-link {
    float: right;
    
}

table {
    width: 100%;
    max-width: 800px;
    border: 1px solid black;
} 

td {
    
    border: 1px solid black;
}

thead {
    font-weight: bold;
}

#manage-links {
     text-align: center;
}

#container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;

}

#create-post-form {
    width: 100%;
    padding: 10px;
}

input, 
textarea,
select {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #333;
}

input,
select {
    padding: 10px;
}

select {
    height: 150px;
}