body {
    background-color: rgb(155, 179, 187);
}

#main-container {
    width: 80%;
    height: 100vh;
    margin: 0px auto;
}

#main-container > hr {
    width: 80%;
}

#content {
    width:100%;
    margin: 0px auto;   
}

.blog-page-link,
 #create-post-link {
    float: right;
    margin-right: 10%; 
}

table {
    width: 80%;
    margin: 20px auto;
    border: 2px solid rgb(49, 46, 46);
    background-color: antiquewhite;
} 

h1 {
    margin-left: 10%;
}

td {
    border: 1px dotted #333;
    padding: 10px; 
}

thead {
    font-weight: bold;
    background-color: rgb(142, 142, 150);
}

#manage-links {
     text-align: center;
}

#create-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;

}

#create-post-form {
    width: 100%;
    padding: 10px;
}

input, 
textarea,
select {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #333;
}

input,
select {
    padding: 10px;
}

select {
    height: 150px;
}