body {
    background-color: lightblue;
}

#main-container {
    width: 80%;
    height: 100vh;
    margin: 0px auto;
}

#content {
   
    width:100%;
    margin: 0px auto;
    
}

.blog-page-link,
 #create-post-link {
    float: right;
   margin-right: 10%;
    
}

table {
    width: 80%;
    margin: 20px auto;
    border: 3px solid darkgray;
    background-color: antiquewhite;
    
    

} 

hr {
    width: 80%;
}

h1 {
    margin-left: 10%;
}

td {
    
    border: 1px dotted black;
    padding: 10px;
}

thead {
    font-weight: bold;
}

#manage-links {
     text-align: center;
}

#create-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;

}

#create-post-form {
    width: 100%;
    padding: 10px;
}

input, 
textarea,
select {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #333;
}

input,
select {
    padding: 10px;
}

select {
    height: 150px;
}